
% we need to compile piqic-erlang first, because it is used in the pre-compile
% step below
{sub_dirs, ["piqic-erlang"]}.

{deps, [
    {piqi_bin, "", {git, "git@github.com:spilgames/piqi-bin", {tag, "0.1.1"}}}
]}.


% tolerate edoc quirks by #ifndef-ing several adjacent -spec
{edoc_opts, [{preprocess, true}, {macros, [{'EDOC', 1}]}]}.


{pre_hooks, [
    {compile, "./make -C src -f Makefile.piqi"}
]}.


{post_hooks, [
    {clean, "make -C src -f Makefile.piqi clean"}
]}.

%% see rebar.config of piqi_bin for details on how to use this
{req_piqi_vsn, [{gt, "0.6.5.0"}]}.


% ex: ft=erlang
